/* Modified style configuration */
body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    color: #CCCCCC; /* gray */
}

a {
    background-color: #CCCCCC;
}

.news {
    color: red;
    font-style: italic;
}
